{% extends 'layouts/navbar.twig' %}

{% block content %}

{% if info[2] == "optionsScope" %}
    {% set addData = info[1] %}
    {% set message = info[2] %}
{% endif %}

{% if info[3] and info[4] %}
    {% set fromDate = info[3] %}
    {% set toDate = info[4] %}
{% endif %}

{% set info = info[0] %}


<form style="position:absolute;top:100px;left:550px;text-align:center;" action="/public/multiple-choices/detailed/{{ qid }}" method="POST">
    <button class="button" name="specialize" value="notassigned">Clear All Filters</button> <br><br>
    <div style="font-style: italic;">
            See statistic among users <br>
            who selected specific option/options: <br>
    </div>
    
    {% for key1,val1 in info %}
        {% for key2,val2 in val1 %}
            {{key2}} <input type="checkbox" name="choosed{{key2}}" value="{{ key2 }}"><br>
        {% endfor %}
    {% endfor %}

    <br>

    <div style="font-style: italic;">
            Dates between: <br>
    </div>

    <input type="date" name="fromDate">
    <input type="date" name="toDate">

    <br><br>
    <button class="button" name="specialize" value="optionsScope">Apply Filters</button>
    

</form>


<br><br><br><br>

    <div style="position:absolute;top:550px;left:100px;">
    {% if message == "optionsScope" %}
        The results are shown among the users who selected the option/options 
        {% for var in addData %}
            {{ var }}
        {% endfor %}
        . <br>
    {% endif %}

    {% if fromDate and toDate %}
        This results are received between dates {{ fromDate }} and {{ toDate }}.
    {% endif %}
    </div>
    
<canvas style="position:absolute;left:100px;top:100px;" id="myChart" width="400" height="400"></canvas>


<script>
    var infojson = '{{ info|json_encode()|raw }}';
    info = JSON.parse(infojson);

    var keyarr = [];
    var valarr = [];

    for(var key1 in info){
        for(var key2 in info[key1]){
            keyarr.push(key2);
            valarr.push(info[key1][key2]);
        }
    }

    

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: keyarr,
        datasets: [{
        backgroundColor: [
            "#2ecc71",
            "#3498db",
            "#95a5a6",
            "#9b59b6",
            "#f1c40f",
            "#e74c3c",
            "#34495e"
        ],
        data: valarr
        }]
    },
    options: {
        responsive: false
    }
});
</script>

{% endblock %}