{% extends "layouts/navbar.twig" %}

{% block content %}

    {% set qid = questionData[0] %}
    {% set questionInfo = questionData[1] %}
    {% set otherQuestions = questionData[2] %}

    {% for key,val in questionInfo %}
        {% set questionName = key %}

        <div style="position:absolute;top:150px;right:550px;">
            <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                {{questionName}} </h2>
        </div>
        <form style="position:absolute;right:600px;top:200px;" action="/public/multiple-choices/specialized/{{qid}}" method="POST">

            <div style="font-style: italic">
                Option scope:
            </div>
            <br>
            {% for opt,count in val %}

                {{opt}} <input type="checkbox" name="check{{opt}}"><br>

            {% endfor %}

            <br><br>

            <div style="font-style: italic">
                    Date between:
            </div>

            <input type="date" name="fromDate">-
            <input type="date" name="toDate">

            <br><br>

            <div style="font-style: italic">
                    Apply your filters for other question:
            </div>
            
            <select style="display: inline-block;width:200px;" name="otherQuestion">
                {% for qid,qname in otherQuestions %}
                    <option value="other{{qid}}"> {{qname}} </option>
                {% endfor %}
            </select>

            <br><br>

            <button class="button"> See Dynamic Statistics </button>

        </form>

        <canvas style="position:absolute;left:50px;top:150px;" id="pieChart" width="400" height="400"></canvas>

        <script>
            var valjson = '{{ val|json_encode()|raw }}';
            var val = JSON.parse(valjson);

            var optionsArr = [];
            var valueArr = [];

            for(var key in val){
                optionsArr.push(key);
                valueArr.push(val[key]);
            }
            

            var ctx = document.getElementById("pieChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: optionsArr,
                    datasets: [{
                    backgroundColor: [
                        "#2ecc71",
                        "#3498db",
                        "#95a5a6",
                        "#9b59b6",
                        "#f1c40f",
                        "#e74c3c",
                        "#34495e"
                    ],
                    data: valueArr
                    }]
                },
                options: {
                    responsive: false
                }
            });
        </script>

    {% endfor %}


{% endblock %}