{% extends 'layouts/navbar.twig' %}

{% block content %}
    {% set qid = compactData[0] %}
    {% set questionInfo = compactData[1] %}
    {% set otherQuestions = compactData[2] %}
    {% set dataForDifferentTypes = compactData[3] %}
    
    <!
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(231,233,237)'
    >
    
    <div class="row">
        <div class="column" style="height:2000px;border:1px solid #f38d30;">
                {% for key,val in questionInfo %}
                    {% set questionName = key %}
            
                    <div>
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{questionName}} </h2>
                    </div>
                    <canvas id="pieChart" width="400" height="400"></canvas>
        
                    <script>
                        var valjson = '{{ val|json_encode()|raw }}';
                        var val = JSON.parse(valjson);
        
                        var optionsArr = [];
                        var valueArr = [];
        
                        for(var key in val){
                            optionsArr.push(key);
                            valueArr.push(val[key]);
                        }
                        
        
                        var ctx = document.getElementById("pieChart").getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: optionsArr,
                                datasets: [{
                                backgroundColor: [
                                    "rgb(255, 99, 132)",
                                    "rgb(75, 192, 192)",
                                    "rgb(54, 162, 235)",
                                    "rgb(153, 102, 255)",
                                    "rgb(255, 205, 86)",
                                    "rgb(231,233,237)",
                                    "rgb(255, 159, 64)"
                                ],
                                data: valueArr
                                }]
                            },
                            options: {
                                responsive: false,
                                        legend: {
                                            labels: {
                                                fontColor: 'white'
                                            }
                                        }
                                    }
                        });
                    </script>
            {% endfor %}
        </div>
        <div class="column" style="height:2000px;border:1px solid #f38d30;color:aliceblue;">
            {% for key,val in questionInfo %}
        
                <form action="/public/multiple-choices/specialized/{{qid}}" method="POST">
        
                    <div style="font-style: italic">
                        Option scope:
                    </div>
                    {% for opt,count in val %}
        
                        {{opt}} <input type="checkbox" name="check{{opt}}"><br>
        
                    {% endfor %}
        
                    <br><br>
        
                    <div style="font-style: italic">
                            Date between:
                    </div>
        
                    <input type="date" name="fromDate">-
                    <input type="date" name="toDate">
        
                    <br><br>
        
                    <div style="font-style: italic">
                            Apply your filters for other question:
                    </div>
                    
                    <select style="text-align:center;width:300px;" name="otherQuestion">
                        {% for qid,qname in otherQuestions %}
                            <option value="other{{qid}}"> {{qname}} </option>
                        {% endfor %}
                    </select>
        
                    <br><br>
        
                    <button class="button"> See Dynamic Statistics </button>
        
                </form>
        
            {% endfor %}
        </div>
        <div class="column" style="height:2000px;border:1px solid #f38d30;">
                    

                
            {% if dataForDifferentTypes[0] == "control_textbox" %}

                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>

                <div style="display:inline-block;width:400px;">
                    <table class="dataTable" style="text-align:center;">
                        <tr>
                        <th> {{dataForDifferentTypes[1]}} </th>
                        </tr>
                        {% for datum in dataForDifferentTypes[2] %}
                            <tr>
                                <td> {{ datum }} </td>
                            </tr>
                        {% endfor %}
                    </table> 

                </div>
                
            {% elseif dataForDifferentTypes[0] == "control_textarea" %}

                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>  

                <table class="dataTable" style="display:inline-block;width:400px;text-align:center;">
                    <tr>
                    <th> Answers </th>
                    </tr>
                    {% for datum in dataForDifferentTypes[2] %}
                        <tr>
                            <td> {{ datum }} </td>
                        </tr>
                    {% endfor %}
                </table> 
            {% elseif dataForDifferentTypes[0] == "control_dropdown" %}
                
                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>

                <table class="dataTable" style="text-align:center;">
                    <tr>
                    <th> {{dataForDifferentTypes[1]}} </th>
                    <th> Times Chosen </th>
                    </tr>
                    {% for datum,value in dataForDifferentTypes[2] %}
                        <tr>
                            <td> {{ datum }} </td>
                            <td> {{ value }} </td>
                        </tr>
                    {% endfor %}
                </table> 
            {% elseif dataForDifferentTypes[0] == "control_radio" %}
            
                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>
                <canvas id="myChartDoughnut" width="400" height="400"></canvas>

                <script>

                    var datajson = '{{ dataForDifferentTypes[2]|json_encode()|raw }}';
                    var data = JSON.parse(datajson);

                    var options = [];
                    var values = [];

                    for(var key in data){
                        options.push(key);
                        values.push(data[key]);
                    }

                    var ctxR = document.getElementById("myChartDoughnut");
                    var myChartRadio = new Chart(ctxR, {
                    type: 'doughnut',
                    data: {
                        labels: options,
                        datasets: [{
                        label: '# of Times Chosen',
                        data: values,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false
                    }
                    });
                </script>

            {% elseif dataForDifferentTypes[0] == "control_checkbox" %}
                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>

                <canvas id="myChartPolar" width="400" height="400"></canvas>

                <script>
                    var datajson = '{{ dataForDifferentTypes[2]|json_encode()|raw }}';
                    var data = JSON.parse(datajson);

                    var options = [];
                    var values = [];

                    for(var key in data){
                        options.push(key);
                        values.push(data[key]);
                    }


                    var ctx = document.getElementById("myChartPolar");
                    var myChart = new Chart(ctx, {
                    type: 'polarArea',
                    data: {
                        labels: options,
                        datasets: [{
                        label: '# of Times Chosen',
                        data: values,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false
                    }
                    });
                </script>

            {% elseif dataForDifferentTypes[0] == "control_number" %}
                
                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>

                <table class="dataTable" style="text-align:center;display:inline-block;width:400px;">
                    <tr>
                    <th> {{dataForDifferentTypes[1]}} </th>
                    </tr>
                    {% for datum in dataForDifferentTypes[2] %}
                        <tr>
                            <td> {{ datum }} </td>
                        </tr>
                    {% endfor %}
                </table> 
            {% elseif dataForDifferentTypes[0] == "control_fullname" %}
                
                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>

                <table class="dataTable" style="text-align:center;display:inline-block;width:400px;">
                    <tr>
                        <th> Last Name </th>
                        <th> First Name </th>
                    </tr>
                    {% for datum in dataForDifferentTypes[2] %}
                        <tr>
                            <td> {{ datum["last"] }} </td>
                            <td> {{ datum["first"] }} </td>
                        </tr>
                    {% endfor %}
                </table> 
            {% elseif dataForDifferentTypes[0] == "control_email" %}
                
                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>    

                <table class="dataTable" style="text-align:center;display:inline-block;width:400px;">
                    <tr>
                    <th> {{dataForDifferentTypes[1]}} </th>
                    </tr>
                    {% for datum in dataForDifferentTypes[2] %}
                        <tr>
                            <td> {{ datum }} </td>
                        </tr>
                    {% endfor %}
                </table> 
            {% elseif dataForDifferentTypes[0] == "control_address" %}
                
                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>    

                <table class="dataTable" style="text-align:center;width:400px;display:inline-block;">
                    <tr>
                    <th> Address </th>
                    
                    </tr>
                    {% for datum in dataForDifferentTypes[2] %}
                        <tr>
                            <td> 
                                {% set addressArr = datum|split('<br>') %}
                                {% for address in addressArr %}
                                    {{ address }} <br>
                                {% endfor %}
                            </td>
                            
                        </tr>
                    {% endfor %}
                </table> 
            {% elseif dataForDifferentTypes[0] == "control_phone" %}
                
                <div style="display:inline-block;width:400px;">
                        <h2 style="color:#f38d30;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;">
                            {{ dataForDifferentTypes[1] }} </h2>
                </div>    

                <table class="dataTable" style="text-align:center;display:inline-block;width:400px;">
                    <tr>
                    <th> {{dataForDifferentTypes[1]}} </th>
                    </tr>
                    {% for datum in dataForDifferentTypes[2] %}
                        <tr>
                            <td> {{ datum }} </td>
                        </tr>
                    {% endfor %}
                </table> 
            {% endif %}
        </div>
    
    </div>

    

    

    

{% endblock %}