{% extends 'layouts/navbar.twig' %}


{% block content %}
    <style>
        a{
            color:black;
        }
    </style>

    {% set otherQuestionType = "" %}
    {% if otherQuestion[2] == "control_textbox" %}
        {% set otherQuestionType = "Short Text Entry"  %}
    {% elseif otherQuestion[2] == "control_textarea" %}
        {% set otherQuestionType = "Long Text Entry" %}
    {% elseif otherQuestion[2] == "control_dropdown" %}
        {% set otherQuestionType = "Dropdown" %}
    {% elseif otherQuestion[2] == "control_radio" %}
        {% set otherQuestionType = "Single Choice" %}
    {% elseif otherQuestion[2] == "control_checkbox" %}
        {% set otherQuestionType = "Multiple Choice" %}
    {% elseif otherQuestion[2] == "control_number" %}
        {% set otherQuestionType = "Number" %}
    {% elseif otherQuestion[2] == "control_fullname" %}
        {% set otherQuestionType = "Full Name" %}
    {% elseif otherQuestion[2] == "control_email" %}
        {% set otherQuestionType = "Email" %}
    {% elseif otherQuestion[2] == "control_address" %}
        {% set otherQuestionType = "Address" %}
    {% elseif otherQuestion[2] == "control_phone" %}
        {% set otherQuestionType = "Phone" %}
    {% endif %}

    <div class="row" style="height:25px;">

    </div>

    <div class="row">

        <div style="width:6%;">


        </div>

        <div class="styledColumn" style="width:41%;height:auto;">
            <div class="altHeader"> Target </div>
            <br>
            <select style="color:#dc3545;text-align: center;" id="targetQuestion" onchange="updateTargetQuestion()">
                    {% for q in allQuestions %}
                        {% if q[0] == otherQuestion[0] %}
                            <option value="{{q[0]}}" selected> {{q[1]}} </option>
                        {% else %}
                            <option value="{{q[0]}}"> {{q[1]}} </option>
                        {% endif %}
                    {% endfor %}
            </select>
            
            <div class="questionHeader" style="color:black;"> {{ otherQuestionType }} </div>
            <br>
            
            {% if otherQuestionType == "Short Text Entry" or otherQuestionType == "Long Text Entry" or otherQuestionType == "Number" or otherQuestionType == "Email" %}
                <select onchange="otherStat()" id="chartOrTable">
                    <option value="table" selected>Table</option>
                    <option value="chart">Chart</option>
                </select>
                <br><br>
            {% elseif otherQuestionType == "Full Name" %}
                <select onchange="decideName()" id="chartOrTableName">
                    <option value="table" selected>Table</option>
                    <option value="chart">Chart</option>
                </select>
                <br>
                <select onchange="decideName()" style="display:none;" id="firstOrLast">
                    <option value="first">First Name</option>
                    <option value="last">Last Name</option>
                </select>
               
                <br><br>
            {% elseif otherQuestionType == "Address" %}
                <select onchange="decideAddress()" id="chartOrTableAddress">
                    <option value="table" selected>Table</option>
                    <option value="chart">Chart</option>
                </select>
                <br>
                <select onchange="decideAddress()" style="display:none;" id="addressType">
                    <option value="addr_line1">Line 1</option>
                    <option value="addr_line2">Line 2</option>
                    <option value="city">City</option>
                    <option value="country">Country</option>
                    <option value="postal">Postal</option>
                    <option value="state">State</option>
                </select>
               
                <br><br>
            {% endif %}

            <div id="targetStatArea">

            </div>
            <br><br>

        </div>

        <div style="width: 6%;">

        </div>

        <div class="styledColumn" style="width:41%;height:auto;">
            <div class="altHeader"> Scope </div>
            <br>
            <select id="ddQuestion" style="color:#dc3545;text-align: center;" >
                {% for q in ddQuestions %}
                    {% if q[0] == question[0] %}
                        <option value="{{q[0]}}" selected> {{q[1]}} </option>
                    {% else %}
                        <option value="{{q[0]}}"> {{q[1]}} </option>
                    {% endif %}
                {% endfor %}
            </select>
            
            <div class="questionHeader" style="color:black;"> Dropdown </div>
            <br>

            <div id="defaultChartArea">
                

            </div>
            <div class="questionHeader">
                Options:
            </div>
            {% for option in question[2] %}

                <input type="radio" name="rad" value="{{option}}" onclick="mergeFilters()"> {{option}} <br>
    
            {% endfor %}

            <br>
            <input type="radio" name="rad" value="nothingChoosed" onclick="mergeFilters()"> None of those

            <br><br>
            <div class="questionHeader">
                Between:
            </div>
            <input type="date" id="fromDate" name="betweenDates" onchange="mergeFilters()">
             - <input type="date" id="toDate" name="betweenDates" onchange="mergeFilters()" >

             <br><br>

            <button class="button">See Chart</button>

        </div>


        <div style="width:6%;">

        </div>




    </div>

    <div class="row" style="height:25px;">

    </div>

            
    <script>

        var formID = '{{formID}}';

        var subarrjson = '{{ submissionArr|json_encode()|raw }}';
        var submissionArr = JSON.parse(subarrjson);

        var questionjson = '{{ question|json_encode()|raw }}';
        var question = JSON.parse(questionjson);

        var otherQuestionjson = '{{ otherQuestion|json_encode()|raw }}';                
        var otherQuestion = JSON.parse(otherQuestionjson);

    </script>


    <script src="../../../../../js/dropdown/dropdown_related.js" ></script>

{% endblock %}