{% extends 'layouts/navbar.twig' %}


{% block content %}

    <div class="row" style="height:25px;">

    </div>

    <div class="row" style="height: 550px;">

        <div style="width: 4%;">

        </div>

        <div class="column" style="width:92%;height:500px;">

            <h2 class="questionHeader" style="font-weight:bold;border-radius:7px;background-color:orange;color:black;">JotCharts</h2>
            <p class="questionHeader"> for Multiple Choice Form Elements </p>

            <button id="btn1" onclick="showIndexForm()" class="button" style="width:400px;">Use Option/Date Filters and Compare Time Periods</button>
            <br><br>
            <button id="btn2" onclick="showTimeForm()" style="width:400px;" class="button">Timely Basis Statistics</button>
            <br><br>
            <button id="btn3" onclick="showRelatedForm()" style="width:400px;" class="button">Related Statistics(With Other Form Questions)</button>
            
            <script>
                function showIndexForm(){
                    var element = document.getElementById("indexForm");
                    if(element.style.display != "none"){
                        element.style.display = "none";;

                        document.getElementById("btn2").style.display = "inline-block";
                        document.getElementById("btn3").style.display = "inline-block";
                    } 
                    else{
                        element.style.display = "block";

                        document.getElementById("btn2").style.display = "none";
                        document.getElementById("btn3").style.display = "none";
                    }
                }

                function showTimeForm(){
                    var element = document.getElementById("timeForm");
                    if(element.style.display != "none"){
                        element.style.display = "none";

                        document.getElementById("btn1").style.display = "inline-block";
                        document.getElementById("btn3").style.display = "inline-block";
                    } 
                    else{
                        element.style.display = "block";

                        document.getElementById("btn1").style.display = "none";
                        document.getElementById("btn3").style.display = "none";
                    }
                }

                function showRelatedForm(){
                    var element = document.getElementById("relatedForm");
                    if(element.style.display != "none"){
                        element.style.display = "none";

                        document.getElementById("btn1").style.display = "inline-block";
                        document.getElementById("btn2").style.display = "inline-block";
                    } 
                    else{
                        element.style.display = "block";

                        document.getElementById("btn1").style.display = "none";
                        document.getElementById("btn2").style.display = "none";
                    }
                }
            </script>
            <form style="display:none" id="indexForm" method="POST" action="/public/jotcharts/index">
                <br>
                <select name="question">

                    {% for info in infoArr %}
                        <option value="{{info[0]}}"> {{ info[1] }} </option>
                    {% endfor %}

                </select>

                <br><br>
                <button class="button">Select</button>
            
            </form>

            <br>

            <form style="display:none;" id="timeForm" action="/public/jotcharts/time-basis" method="POST">
            
                <br>
                <select name="question">

                    {% for info in infoArr %}
                        <option value="{{info[0]}}"> {{ info[1] }} </option>
                    {% endfor %}

                </select>

                <br><br>
                <button class="button">Select</button>
            
            </form>

            <form style="display:none;" id="relatedForm" method="POST" action="/public/jotcharts/related-stats">
                
                <br>
                <div style="color:white;">
                    Target Question&nbsp&nbsp&nbsp&nbspMC Question&nbsp&nbsp&nbsp&nbsp&nbsp
                </div>
                
                <select name="otherQuestion" style="width:200px;">

                    {% for q in allQuestions %}
                        <option value="{{q[0]}}"> {{ q[1] }} </option>
                    {% endfor %}

                </select>
                &nbsp
                <select name="question" style="width: 200px;">

                    {% for info in infoArr %}
                        <option value="{{info[0]}}"> {{ info[1] }} </option>
                    {% endfor %}

                </select>
                 

                
                

                <br><br>
                <button class="button">Select</button>
                
            </form>

        </div>

        <div style="width: 4%">

        </div>

    </div>
    




{% endblock %}