{% extends 'layouts/navbar.twig' %}


{% block content %}

    <script>
        var formID = '{{formID}}';
    </script>

    <div class="row" style="height:25px;">

    </div>

    <div class="row" style="height: 550px;">

        <div style="width: 4%;">

        </div>

        <div class="styledColumn" style="width:92%;height:500px;">
            <div class="altHeader" style="text-align:left;font-weight:bold;">&nbsp <a style="text-decoration:none;color:inherit;" href="/public/jotcharts">JotCharts </a><font style="font-weight:10;font-style:normal" size="6px;" color="#f8f9fa";>|&nbsp</font><font style="font-style:normal;font-size:14px;">
                
                for <select style="text-align:center;" onchange="chooseQuestionType()" id="getQuestionType">

                    <option value="mc" selected> Multiple Choice </option>
                    <option value="sc"> Single Choice </option>
                    <option value="dd"> Dropdown </option>


                </select> Form Elements </font>
            
               <img style="float:right;height:66px;width:66px;" src="https://cdn.jotfor.ms/myforms3/img/mascot_my_forms.png" alt="">
            
            </div>
           

            
            <div class="row">
                <div style="width:2%;">

                </div>
                <div style="width:46%;">
                    <br>
                    <div style="font-size:25px; left: 50px; display:inline-block; " class="questionHeader">
                        <font color="black">Form: </font>  <font color="#dc3545"> {{ formName }} </font> 
                    </div>
                    <br> <br>
                    <div id="multipleChoiceButtons" style="text-align:left;left:50px;display:inline-block;">
                        
                        <button id="btn1" onclick="showIndexForm('mc')" class="styledButton">Option/Date Filters and Time Period Comparison</button>
                        <br><br>
                        <button id="btn2" onclick="showTimeForm('mc')"  class="styledButton">Timely Basis Statistics</button>
                        <br><br>
                        <button id="btn3" onclick="showRelatedForm('mc')"  class="styledButton">Related Statistics(With Other Form Questions)</button>

                    </div>

                    <div id="singleChoiceButtons" style="text-align:left;left:50px;display:none;">
                        
                        <button id="btn1SC" onclick="showIndexForm('sc')" class="styledButton">Date Filters and Timely Basis Statistics</button>
                        <br><br>
                        <button id="btn2SC" onclick="showTimeForm('sc')"  class="styledButton">BLANK NOW</button>
                        <br><br>
                        <button id="btn3SC" onclick="showRelatedForm('sc')"  class="styledButton">Related Statistics(With Other Form Questions)</button>

                    </div>

                    <div id="dropdownButtons" style="text-align:left;left:50px;display:none;">
                        
                        <button id="btn1DD" onclick="showIndexForm('dd')" class="styledButton">Date Filters and Timely Basis Statistics</button>
                        <br><br>
                        <button id="btn2DD" onclick="showTimeForm('dd')"  class="styledButton">BLANK NOW</button>
                        <br><br>
                        <button id="btn3DD" onclick="showRelatedForm('dd')"  class="styledButton">Related Statistics(With Other Form Questions)</button>

                    </div>

                    <br>                    
                    
                    <div class="info" style="float:center;padding:5px;display:none;" id="indexForm">
                        
                                <br>
                                <div style="color:black;">
                                    Choose a <font color="#dc3545">multiple choice question</font> in your form:
                                </div>
                                <select id="indexID" onchange="updateAllLinks('index','mc')" name="question">
        
                                    {% for info in infoArr %}
                                        <option value="{{info[0]}}"> {{ info[1] }} </option>
                                    {% endfor %}
        
                                </select>
        
                                <br><br>
                                
        
                                <div id="indexSubmit">
        
                                </div>

                        
                    </div>
                    <div class="info" style="float:center;padding:5px;display:none;" id="indexFormSC">

                            <br>
                            <div style="color:black;">
                                Choose a <font color="#dc3545">single choice question</font> in your form:
                            </div>
                            <select id="indexIDSC" onchange="updateAllLinks('index','sc')" name="question">
    
                                {% for info in singleChoiceQuestions %}
                                    <option value="{{info[0]}}"> {{ info[1] }} </option>
                                {% endfor %}
    
                            </select>
    
                            <br><br>
                            
    
                            <div id="indexSubmitSC">
    
                            </div>

                    
                    </div>
                    <div class="info" style="float:center;padding:5px;display:none;" id="indexFormDD">

                            <br>
                            <div style="color:black;">
                                Choose a <font color="#dc3545">dropdown question</font> in your form:
                            </div>
                            <select id="indexIDDD" onchange="updateAllLinks('index','dd')" name="question">
    
                                {% for info in dropdownQuestions %}
                                    <option value="{{info[0]}}"> {{ info[1] }} </option>
                                {% endfor %}
    
                            </select>
    
                            <br><br>
                            
    
                            <div id="indexSubmitDD">
    
                            </div>

                    
                    </div>

                    <br>

                   

                    <div class="info" style="float:center;padding:5px;display:none;" id="timeForm">
                        
                                
                                <div style="color:black;">
                                        Choose a <font color="#dc3545">multiple choice question</font> in your form:
                                </div>
                                <select onchange="updateAllLinks('time','mc')" id="timeID" name="question">
        
                                    {% for info in infoArr %}
                                        <option value="{{info[0]}}"> {{ info[1] }} </option>
                                    {% endfor %}
        
                                </select>
                                
                                
                                <br><br>
                                <div id="timeSubmit">
                                    
                                </div>
                            
                        
                    </div>
                    <div class="info" style="float:center;padding:5px;display:none;" id="timeFormSC">
                        
                                
                            <div style="color:black;">
                                    Choose a <font color="#dc3545">single choice question</font> in your form:
                            </div>
                            <select onchange="updateAllLinks('time','sc')" id="timeIDSC" name="question">
    
                                {% for info in singleChoiceQuestions %}
                                    <option value="{{info[0]}}"> {{ info[1] }} </option>
                                {% endfor %}
    
                            </select>
                            
                            <br><br>
                            <div id="timeSubmitSC">
                                
                            </div>
                        
                    
                    </div>
                    <div class="info" style="float:center;padding:5px;display:none;" id="timeFormDD">
                        
                                
                            <div style="color:black;">
                                    Choose a <font color="#dc3545">dropdown question</font> in your form:
                            </div>
                            <select onchange="updateAllLinks('time','dd')" id="timeIDDD" name="question">
    
                                {% for info in dropdownQuestions %}
                                    <option value="{{info[0]}}"> {{ info[1] }} </option>
                                {% endfor %}
    
                            </select>
                            
                            <br><br>
                            <div id="timeSubmitDD">
                                
                            </div>
                        
                    
                    </div>

                    <div class="info" style="display:none;float:center;padding:5px;" id="relatedForm" >
                        
                                
                                <div style="color:black;">
                                    Target Question
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    Multiple Choice Question
                                </div>
                                
                                <select onchange="updateAllLinks('related','mc')" id="otherq" name="otherQuestion" style="width:200px;">
        
                                    {% for q in allQuestions %}
                                        <option value="{{q[0]}}"> {{ q[1] }} </option>
                                    {% endfor %}
        
                                </select>
                                &nbsp
                                <select onchange="updateAllLinks('related','mc')" id="mcq" name="question" style="width: 200px;">
        
                                    {% for info in infoArr %}
                                        <option value="{{info[0]}}"> {{ info[1] }} </option>
                                    {% endfor %}
        
                                </select>
                                
        
                                <br><br>
                
                                <div id="relatedSubmit">
                                    
                                </div>
                                

                        
                    </div>
                    <div class="info" style="display:none;float:center;padding:5px;" id="relatedFormSC" >
                        
                                
                            <div style="color:black;">
                                Target Question
                                &nbsp&nbsp&nbsp&nbsp
                                Single Choice Question
                            </div>
                            
                            <select onchange="updateAllLinks('related','sc')" id="otherqSC" name="otherQuestion" style="width:200px;">
    
                                {% for q in allQuestions %}
                                    <option value="{{q[0]}}"> {{ q[1] }} </option>
                                {% endfor %}
    
                            </select>
                            &nbsp
                            <select onchange="updateAllLinks('related','sc')" id="scq" name="question" style="width: 200px;">
    
                                {% for info in singleChoiceQuestions %}
                                    <option value="{{info[0]}}"> {{ info[1] }} </option>
                                {% endfor %}
    
                            </select>
                            
    
                            <br><br>
                  
                            <div id="relatedSubmitSC">
                                
                            </div>
                            

                    
                    </div>
                    <div class="info" style="display:none;float:center;padding:5px;" id="relatedFormDD" >
                        
                                
                            <div style="color:black;">
                                Target Question
                                &nbsp&nbsp&nbsp
                                Dropdown Question
                            </div>
                            
                            <select onchange="updateAllLinks('related','dd')" id="otherqDD" name="otherQuestion" style="width:200px;">
    
                                {% for q in allQuestions %}
                                    <option value="{{q[0]}}"> {{ q[1] }} </option>
                                {% endfor %}
    
                            </select>
                            &nbsp
                            <select onchange="updateAllLinks('related','dd')" id="ddq" name="question" style="width: 200px;">
    
                                {% for info in dropdownQuestions %}
                                    <option value="{{info[0]}}"> {{ info[1] }} </option>
                                {% endfor %}
    
                            </select>
                            
    
                            <br><br>
    
                            <div id="relatedSubmitDD">
                                
                            </div>
                            

                    
                    </div>
                </div>
                
                <div style="width:4%;">
                <hr style="float:left;border:1px solid grey;background-color:grey;height:414px;" width="0" >

                </div>

                <div style="width:46%;">
                    <div id="infoArea" style="display: none;">
                        <div class="row">

                            <div id="right1" style="width:50%">
                                
                            </div>

                            <div id="right2" style="width:50%">

                            </div>

                        </div>
                        <div class="row">

                            <div id="right3" style="width:50%">

                            </div>

                            <div id="right4" style="width:50%">

                            </div>

                        </div>
                    </div>
                    <div id="defaultArea" style="text-align:center;display: block;">
                        <br><br>
                        <h2 style="font-size:40px;" class="paragraphHeader">Analyze Your Submissions!</h2>
                        
                        <p style="font-size: 24px;" class="paragraph">

                            JotForm's JotCharts packs your submissions and give you the relevant data as you want. You can use various filters to reach deeper statistics of your form. Let's start!

                        </p>

                    </div>
                </div>
                <div style="width:2%;">

                </div>
            </div>
        </div>

        <div style="width: 4%">

        </div>

    </div>
 
    <script src="../js/choice_page.js"></script>




{% endblock %}