{% extends 'layouts/navbar.twig' %}

{% block content %}

  <div class="row" style="height:25px;">


  </div>

  <div class="row">
  
    <div style="width: 4%;">


    </div>


    <div class="styledColumn" style="background-color:#aaa;height:auto;width:30%;">
      
      
      <h2 class="altHeader">
        Multiple Choice Question
      </h2>
        
      <div id="chartPlace">
      <br><br><br>
      Specify your results using "Filters" section.
      </div>
      <br>

      <script>
        var subarrjson = '{{ submissionArr|json_encode()|raw }}';
        var submissionArr = JSON.parse(subarrjson);

        var qjson = '{{ question|json_encode()|raw }}';
        var question =  JSON.parse(qjson);

      </script>

    </div>


    <div style="width: 1%;">


    </div>



    <div class="styledColumnv2" style="height:auto;width:30%;">
      
      
      <h2 class="altHeaderv2">Filters</h2>
      <p style="color:black;" class="questionHeader">
          {{ question[1] }}
      </p>

      <br>
      
        {% set options = question[2] %}

        <div style="color:#dc3545;font-style: italic;">
          Option scope:
        </div>
        

        {% for opt in options %}
            <input type="checkbox" onclick="assignAndDraw()" name="check" id="{{opt}}"> {{ opt }} <br>
        {% endfor %}

        <br>

          <div style="color:#dc3545;font-style: italic;">
            Between Dates: 
          </div>
          <input name="betweendates" type="date" onchange="assignAndDraw()">
          - <input name="betweendates" type="date" onchange="assignAndDraw()">


        <br><br>
        <button class="button" onclick="assignAndDraw()">See Chart</button>
        <br>
        <br><br>
        
    </div>
    
    <div style="width: 1%;">


    </div>

    <div class="styledColumn" style="background-color:#ccc;color:blue;height:auto;width:30%;">
      
      <h2 class="altHeader">How it works?</h2>
      <br>
      <div class="paragraphHeader">
        Option Scope
      </div>
      <div class="paragraph">
        If you put an option to scope, your submissions will be filtered so that you can see the statistics of people who selected this option.
      </div>
      <br>
      <div class="paragraphHeader">
        Between Dates
      </div>
      <div class="paragraph">
        You can see the statistics of your submissions submitted in different time periods.
      </div>

    </div>

    <div style="width: 4%;">

    </div>
  </div>

<div class="row" style="height: 25px;">


</div>


  <div class="row">
    
    <div style="width: 4%;">


    </div>

    

    <div class="styledColumnv2" style="height:auto;width:30%;">
      
      

      <h2 class="altHeaderv2" >Compare Periods</h2>

      <p style="color:black;" class="questionHeader">
          {{ question[1] }}
      </p>
     
      <br><br><br>
      <font style="color:#dc3545;">First Date Period: </font>
      <br>
      <input type="date" name="datePeriod1" onchange="setValues()"> - <input type="date" name="datePeriod1" onchange="setValues()"> <br>
      <font style="color:#dc3545;">Second Date Period: </font> 
      <br>
      <input type="date" name="datePeriod2" onchange="setValues()"> - <input type="date" name="datePeriod2" onchange="setValues()">
      <br><br>
      <button class="button" onclick="setValues()">See Radar Chart</button>
      <br>
      <br><br>
    
    
    </div>


    <div style="width: 1%;">


    </div>



    <div class="styledColumn" style="background-color:#bbb;height:auto;width:30%;">
        
        
        <h2 class="altHeader">Radar</h2>

        <div id="radarChartPlace">
            <br><br><br>
            
                Specify your results using "Compare Periods" section.
            
            
        </div>
        
        <br><br>
        
      

    </div>
    
    <div style="width: 1%;">


    </div>

    <div class="styledColumnv2" style="height:auto;width:30%;">
      
      <h2 class="altHeaderv2" >How it works?</h2>

      <br>
      <div class="paragraphHeader">
        Different Date Periods
      </div>
      <div class="paragraph">
        You can compare data of two different time periods choosing specific time periods. Radar chart will help you comparing statistics.
      </div>

    </div>

    <div style="width: 4%;">

    </div>
  </div>

  <div class="row" style="height: 25px">

  </div>


  <script src="../../../../js/checkbox/index.js"></script>



{% endblock %}